<ng-uui-oas  *ngIf="!loaded" [environment]="environment"></ng-uui-oas>

<div [ngClass]="loaded? 'container':'main-container'" *ngIf="loadRouting">
    <div class="menu" style="width: 20vw; display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;"  *ngIf="loaded">
       
            <mat-card style="background-color: #DAE8FC;width: 80%;height: 45vh;border: 1px solid #03678F;">
                <mat-card-header style="padding: 0%; align-items: center;
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid #03678F;">
                    <mat-card-title>
                        <h3 style="margin: 15px; font-weight: bold;">Gestionar syllabus</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="padding: 0%;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid #03678F;">
                    <mat-nav-list style="padding: 0%;">
                        <a mat-list-item routerLink="/buscar_syllabus" style="text-decoration: none;">
                            Consultar
                        </a>
                    </mat-nav-list>

                </mat-card-content>
            </mat-card>
    </div>
    <div id="workspace">
            <router-outlet></router-outlet>
    </div>
</div>