mat-panel-title{
    color: white;
}

/* table tr td:nth-child(n + 2) {
    border-left: 1px var(--primary) solid;
} */

.input-search{
    width: 99%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}