.page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

table {
  width: 100%;
}

th.mat-mdc-header-cell,
th.mat-header-cell,
td.mat-mdc-cell,
td.mat-cell {
  text-align: center;
}

.loading-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 12rem;
}

.actions-center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
