table {
    width: 100%;
}

th {
    color: white;
    text-align: center;
}


th.mat-header-cell {
    text-align: center;
    padding: 5px 5px 5px 0;
    color: white;
}

td {
    text-align: center;
    padding: 5px 5px 5px 0;
    color: black;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
        text-align: center;
    }

    .mat-cell,
    .mat-header-cell {
        text-align: center;
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    
}

.footer {
    text-align: center;
}

.mat-row:nth-child(even) {
    background-color: #E7D6D6;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.header2 {
    background-color: var(--color900);
}

mat-icon {
    color:var( --primary);
}