:root {
  /* Primary Colors */
  --md-primary-50: #e1edf2;
  --md-primary-100: #b3d1dd;
  --md-primary-200: #81b3c7;
  --md-primary-300: #4f95b1;
  --md-primary-400: #297ea0;
  --md-primary-500: #03678f;
  --md-primary-600: #035f87;
  --md-primary-700: #02547c;
  --md-primary-800: #024a72;
  --md-primary-900: #013960;
  --md-primary-A100: #90c9ff;
  --md-primary-A200: #5db0ff;
  --md-primary-A400: #2a97ff;
  --md-primary-A700: #118bff;
  --md-primary-contrast-50: #000000;
  --md-primary-contrast-100: #000000;
  --md-primary-contrast-200: #000000;
  --md-primary-contrast-300: #000000;
  --md-primary-contrast-400: #ffffff;
  --md-primary-contrast-500: #ffffff;
  --md-primary-contrast-600: #ffffff;
  --md-primary-contrast-700: #ffffff;
  --md-primary-contrast-800: #ffffff;
  --md-primary-contrast-900: #ffffff;
  --md-primary-contrast-A100: #000000;
  --md-primary-contrast-A200: #000000;
  --md-primary-contrast-A400: #000000;
  --md-primary-contrast-A700: #ffffff;

  /* Accent Colors */
  --md-accent-50: #e3ebf2;
  --md-accent-100: #b9cedf;
  --md-accent-200: #8aadca;
  --md-accent-300: #5b8cb5;
  --md-accent-400: #3773a5;
  --md-accent-500: #145a95;
  --md-accent-600: #12528d;
  --md-accent-700: #0e4882;
  --md-accent-800: #0b3f78;
  --md-accent-900: #062e67;
  --md-accent-A100: #97bbff;
  --md-accent-A200: #649aff;
  --md-accent-A400: #3179ff;
  --md-accent-A700: #1868ff;
  --md-accent-contrast-50: #000000;
  --md-accent-contrast-100: #000000;
  --md-accent-contrast-200: #000000;
  --md-accent-contrast-300: #000000;
  --md-accent-contrast-400: #ffffff;
  --md-accent-contrast-500: #ffffff;
  --md-accent-contrast-600: #ffffff;
  --md-accent-contrast-700: #ffffff;
  --md-accent-contrast-800: #ffffff;
  --md-accent-contrast-900: #ffffff;
  --md-accent-contrast-A100: #000000;
  --md-accent-contrast-A200: #000000;
  --md-accent-contrast-A400: #ffffff;
  --md-accent-contrast-A700: #ffffff;

  /* Warning Colors */
  --md-warning-50: #faf8e7;
  --md-warning-100: #f4eec4;
  --md-warning-200: #ece29d;
  --md-warning-300: #e4d675;
  --md-warning-400: #dfce58;
  --md-warning-500: #d9c53a;
  --md-warning-600: #d5bf34;
  --md-warning-700: #cfb82c;
  --md-warning-800: #cab025;
  --md-warning-900: #c0a318;
  --md-warning-A100: #fffdf4;
  --md-warning-A200: #fff3c1;
  --md-warning-A400: #ffea8e;
  --md-warning-A700: #ffe574;
  --md-warning-contrast-50: #000000;
  --md-warning-contrast-100: #000000;
  --md-warning-contrast-200: #000000;
  --md-warning-contrast-300: #000000;
  --md-warning-contrast-400: #000000;
  --md-warning-contrast-500: #000000;
  --md-warning-contrast-600: #000000;
  --md-warning-contrast-700: #000000;
  --md-warning-contrast-800: #000000;
  --md-warning-contrast-900: #000000;
  --md-warning-contrast-A100: #000000;
  --md-warning-contrast-A200: #000000;
  --md-warning-contrast-A400: #000000;
  --md-warning-contrast-A700: #000000;
}
