<div class="container-baner">
    <h1 class="title-home">El sistema de syllabus le da la bienvenida</h1>
    <p class="guide-home">En este modula podra consultar los syllabus de los proyectos/programas academicos de la
        universidad.</p>
    <button mat-raised-button color="primary" routerLink="/buscar_syllabus" style="background: var(--primary);
    border: 0;
    border-radius: 32px;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    color: var(--color100);
    margin: 120px 0 32px;
    padding: 12px 40px;
    cursor: pointer;">Comenzar</button>
</div>