<div style="height: 100%; width: 100%; display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-top: 50px;">
    <mat-card style="background-color: #03678F; color:white; border-radius: 10px;" MatCardAppearance='outlined'>
        <mat-card-content>
            <h3 style="margin: 0%;font-weight: bold;">Gestion de syllabus</h3>
        </mat-card-content>

    </mat-card>
    <mat-card style="max-width: 75%;background-color: #FFFF66; border-radius: 15px; margin: 10px;"
        MatCardAppearance='outlined'>
        <mat-card-content>
            <p style="margin: 0%;text-align: justify;text-align-last: center;">
                Usuario, en el actual módulo usted podrá realizar las consultas que requiera del o los Syllabus de
                interes; para ello debera indicar unas variables iniciales que le facilitaran la busqueda.
            </p>
        </mat-card-content>

    </mat-card>
    <mat-card style="width:calc(100% - 60px); ">
        <mat-card-content>
            <div class="container-border">
                <h4>Variables de inicio</h4>
                <form [formGroup]="formGroup">
                    <mat-vertical-stepper #stepper>
                        <mat-step formGroupName="facultadCtrl" [stepControl]="formGroup.get('facultadCtrl')!">

                            <ng-template matStepLabel>Facultad</ng-template>
                            <mat-form-field>
                                <mat-label>Facultad</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let facultad of facultades" [value]="facultad.value">
                                        {{facultad.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                        </mat-step>
                        <mat-step formGroupName="ProyectoCurricularCtrl"
                            [stepControl]="formGroup.get('ProyectoCurricularCtrl')!">

                            <ng-template matStepLabel>Proyecto Curricular</ng-template>
                            <mat-form-field>
                                <mat-label>Proyecto Curricular</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let proyecto_curricular of proyectos_curriculares"
                                        [value]="proyecto_curricular.value">
                                        {{proyecto_curricular.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                        </mat-step>
                        <mat-step formGroupName="PlanEstudiosCtrl" [stepControl]="formGroup.get('PlanEstudiosCtrl')!">

                            <ng-template matStepLabel>Plan de estudios</ng-template>
                            <mat-form-field>
                                <mat-label>Plan de estudios</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let plan_estudios of planes_estudio"
                                        [value]="plan_estudios.value">
                                        {{plan_estudios.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                        </mat-step>
                        <mat-step formGroupName="EspacioAcademicoCtrl"
                            [stepControl]="formGroup.get('EspacioAcademicoCtrl')!" optional>

                            <ng-template matStepLabel>Espacio academico</ng-template>
                            <mat-form-field>
                                <mat-label>Espacio academico</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let espacio_academico of espacios_academicos"
                                        [value]="espacio_academico.value">
                                        {{espacio_academico.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                        </mat-step>
                    </mat-vertical-stepper>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <button mat-raised-button style="background-color: #03678F;color: white;"
                            routerLink="/listar_syllabus">Consultar</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

</div>