.container-border {
    border: 1px solid var(--primary);
    padding: 1%;
    border-radius: 15px 15px 15px 15px;
}

.container-border h4 {
    width: 17%;
    background-color: var(--primary) !important;
    color: #F1F5F8;
    font-size: 15px;
    margin-top: -28px;
    margin-left: 7px;
    padding: 0.5%;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    font-weight: normal;
}

app-listar-syllabus {
    width: 100%;
    margin-top: 20px;
}